.domain {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  background-color: rgb(242, 242, 242);
  font-weight: bold;
  text-indent: 50px;
}
.showAllButton {
  display: flex;
  width: fit-content;
  flex-direction: row-reverse;
}
.orangeStarIcon {
  --sds-c-icon-color-foreground: orange;
  --sds-c-icon-color-background: white;
  padding-left: 15px;
}
.unwantedDot {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.btnAlignRight {
  text-align: right;
}
.btnAlignLeft {
  text-align: left;
}